<a href="https://forms.gle/9Kb9JS4hsNQFaWKZ7" target="_blank" class="a-form" >
  <div class="inp-gform">
    <button class="form-btn">Upload your content</button>
    <!--     <span class="form-span">No file chosen</span> -->
  </div>
</a>
<p class="g-p">Note: Click the button to upload card content</p>

<style>
  .g-p{
    margin-bottom: 10px; 
    padding-top: 7px; 
    font-weight: 600;
  }
  
  .inp-gform{
    background-color: #f4f4f4;
    width: 100%;
    height: 56px;
  }
  
  .form-btn{
    margin: 15px;
    border: 1px solid #333;
    color: #333;
  }
  
  .form-span{
    color: #333;
    margin-left: -10px;
  }
  
  .a-form:hover{
    text-decoration: none;
  }
  
  
  .product-form__item.product-form__item--quantity {
    display: none;
  }
</style>
