{% comment %}
   <div class="banner-container" style="width: 100vw; height: 100vh; overflow: hidden; margin-left: 0%; margin-top:50px;">
      <div class="slide-one">
        <img src="https://www.newarab.com/sites/default/files/styles/image_1038x584/public/media/images/98952286-5FED-4FA5-809B-E727A947F049.jpg?h=d1cb525d&itok=G8cVjY7W" alt="Slide 1" style="width: 100%; height: 100%; object-fit: cover; object-position: center;">
      </div>
    </div>
    
  <div class="banner-container">
    <div class="slide-one">
      <img src="https://bookbound83856434.files.wordpress.com/2019/08/img_9436.jpg?w=1100" alt="Slide 1">
      <div class="split-design"></div>
      <img src="https://ellethinks.files.wordpress.com/2019/06/img_4815.jpg?w=450&h=601" alt="Slide 2">
    </div>
  </div>

   <div class="banner-container" style="width: 100vw; height: 100vh; overflow: hidden; margin-left: 0%;">
      <div class="slide-one">
        <img src="https://aminasbookshelf.files.wordpress.com/2021/05/img_20210426_164625-e1620321069689.jpg?w=1200" alt="Slide 1" style="width: 100%; height: 100%; object-fit: cover; object-position: center;">
      </div>
    </div>
  <div class="banner-container">
    <div class="slide-one">
      <img src="https://aminasbookshelf.files.wordpress.com/2021/05/img_20210426_164625-e1620321069689.jpg?w=1024" alt="Slide 2">
      <div class="split-design"></div>
      <img src="https://onlinebookshop.pk/wp-content/uploads/2020/10/10-Minutes-38-Seconds-in-This-Strange-World-By-Elif-Shafak.jpg" alt="Slide 3">
    </div>
  </div>

{% endcomment %}




