{%- assign productFourHandle = section.settings.product_four_handle -%}
{%- assign productFour = all_products[productFourHandle] -%}

{%- if productFour != blank -%}
  <div class="grid grid--no-gutters grid--uniform">
    <div class="row">
      <div class="grid__item medium-up--one-fifth small--one-fifth">
        {% include 'product-card', product: productFour %}
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": {
    "en": "Product Four Display"
  },
  "settings": [
    {
      "type": "text",
      "id": "product_four_handle",
      "label": {
        "en": "Enter Product Four Handle"
      }
    }
  ]
}
{% endschema %}
