<style>
  p {
      font-size: 14px;
  }
  
  h4{
    padding-top: 4px;
  }
  
  .faqs-ul {
      font-size: 14px;
      line-height: 20px;
      margin: 11px;
      padding-left: 40px;
  }

  @media only screen and (max-width: 600px) {
    .faqs-ul {
      padding-left: 20px;
    }
  }
</style>
<div class="page-width">
    <div class="container">
        <h2 style="text-align: center; font-weight: revert;" class="h2--mini section-block__title">KATIB.PK PRIVACY NOTICE</h2>
        <br>
        <div style="display: block;">
            <br>
            <h6><b>Last updated: December 01, 2022.</b></h6>
            <p>We care how information about you is used and shared, and we appreciate your trust that we will do so carefully and responsibly. This Privacy Notice describes how Katib.pk and its affiliates (collectively "Katib") collect and process your
                personal information through Katib websites, devices, products, services, online and physical stores, and applications that reference this Privacy Notice (together "Katib Services"). By using Katib Services, you are consenting to the practices
                described in this Privacy Notice.</p>

            <h4>What Personal Information About Customers Does Katib Collect?</h4>
            <p>We collect your personal information in order to provide and continually improve our products and services. <br> Here are the types of personal information we collect:</p>
            <ul class="faqs-ul">
                <li><b>Information You Give Us:</b> We receive and store any information you provide in relation to Katib Services. Click here to see examples of what we collect. You can choose not to provide certain information, but then you might not be
                    able to take advantage of many of our Katib Services.</li>
                <li><b>Automatic Information:</b> We automatically collect and store certain types of information about your use of Katib Services, including information about your interaction with products, content and services available through Katib Services.
                    Like many websites, we use "cookies" and other unique identifiers, and we obtain certain types of information when your web browser or device accesses Katib Services and other content served by or on behalf of Katib on other websites.
                    Our physical stores may use cameras, computer vision, sensors, and other technology to gather information about your activity in the store, such as the products and services you interact with. Click here to see examples of what we
                    collect.
                </li>
                <li><b>Information from Other Sources:</b> We might receive information about you from other sources, such as updated delivery and address information from our carriers, which we use to correct our records and deliver your next purchase more
                    easily. Click here to see additional examples of the information we receive.</li>
            </ul>
            <br>
            <h4>For What Purposes Does Katib Use Your Personal Information?</h4>
            <p>We use your personal information to operate, provide, develop, and improve the products and services that we offer our customers. These purposes include:</p>
            <ul class="faqs-ul">
                <li>Purchase and delivery of products and services. We use your personal information to take and handle orders, deliver products and services, process payments, and communicate with you about orders, products and services, and promotional
                    offers.
                </li>
                <li>Provide, troubleshoot, and improve Katib Services. We use your personal information to provide functionality, analyze performance, fix errors, and improve the usability and effectiveness of the Katib Services.</li>
                <li>Recommendations and personalization. We use your personal information to recommend features, products, and services that might be of interest to you, identify your preferences, and personalize your experience with Katib Services.
                </li>
                <li>Comply with legal obligations. In certain cases, we collect and use your personal information to comply with laws. For instance, we collect from sellers information regarding place of establishment and bank account information for identity
                    verification and other purposes.</li>
                <li>Communicate with you. We use your personal information to communicate with you in relation to Katib Services via different channels (e.g., by phone, email, chat). Advertising. We use your personal information to display interest-based
                    ads for features, products, and services that might be of interest to you.</li>
                <li>Fraud Prevention and Credit Risks. We use personal information to prevent and detect fraud and abuse in order to protect the security of our customers, Katib, and others. We may also use scoring methods to assess and manage credit risks.</li>
            </ul>
            <br>
            <h4>What About Cookies and Other Identifiers?</h4>
            <p>To enable our systems to recognize your browser or device and to provide and improve Katib Services, we use cookies and other identifiers. For more information about cookies and how we use them, please read our Cookies Notice.
            </p>
            <br>  
            <h4>Does Katib Share Your Personal Information?</h4>
            <p>Information about our customers is an important part of our business, and we are not in the business of selling our customers' personal information to others. We share customers' personal information only as described below and with subsidiaries
                Katib.pk, Inc. controls that either are subject to this Privacy Notice or follow practices at least as protective as those described in this Privacy Notice.</p>
            <ul class="faqs-ul">
                <li><b>Transactions involving Third Parties: </b>We make available to you services, products, applications, or skills provided by third parties for use on or through Katib Services. We also offer services or sell product lines jointly with
                    third-party businesses. You can tell when a third party is involved in your transactions, and we share customers' personal information related to those transactions with that third party.</li>
                <li><b>Third-Party Service Providers: </b>We employ other companies and individuals to perform functions on our behalf. Examples include fulfilling orders for products or services, delivering packages, sending postal mail and email, removing
                    repetitive information from customer lists, analyzing data, providing marketing assistance, providing search results and links (including paid listings and links), processing payments, transmitting content, scoring, assessing and managing
                    credit risk, and providing customer service. These third-party service providers have access to personal information needed to perform their functions, but may use it for other purposes.</li>
                <li><b>Business Transfers: </b>As we continue to develop our business, we might sell or buy other businesses or services. In such transactions, customer information generally is one of the transferred business assets but remains subject to
                    the promises made in any pre-existing Privacy Notice (unless, of course, the customer consents otherwise). Also, in the unlikely event that Katib.pk, Inc. or substantially all of its assets are acquired, customer information will of
                    course be one of the transferred assets.</li>
                <li><b>Protection of Katib and Others: </b>We release account and other personal information when we believe release is appropriate to comply with the law; enforce or apply our Conditions of Use and other agreements; or protect the rights,
                    property, or safety of Katib, our users, or others. This includes exchanging information with other companies and organizations for fraud protection and credit risk reduction.</li>
            </ul>
            <p>Other than as set out above, Katib receive the right not to notify you when personal information about you might be shared with third parties, and you may not have an opportunity to choose not to share the information.</p>
            <br>
            <h4>How Secure Is Information About Me?</h4>
            <p>We design our systems with your security and privacy in mind.</p>
            <ul class="faqs-ul">
                <li>We work to protect the security of your personal information during transmission by using encryption protocols and software.</li>
                <li>We follow the Payment Card Industry Data Security Standard (PCI DSS) when handling credit card data.</li>
                <li>We maintain physical, electronic, and procedural safeguards in connection with the collection, storage, and disclosure of customer personal information. Our security procedures mean that we may ask to verify your identity before we disclose
                    personal information to you.</li>
                <li>Our devices offer security features to protect them against unauthorized access and loss of data. You can control these features and configure them based on your needs. Click here for more information on how to manage the security settings
                    of your device.</li>
                <li>It is important for you to protect against unauthorized access to your password and to your computers, devices, and applications. We recommend using a unique password for your Katib account that is not used for other online accounts. Be
                    sure to sign off when finished using a shared computer. Click here for more information on how to sign off.</li>
            </ul>
            <br>
            <h4>What About Advertising?</h4>
            <ul class="faqs-ul">
                <li><b>Third-Party Advertisers and Links to Other Websites: </b>Katib Services may include third-party advertising and links to other websites and apps. Third-party advertising partners may collect information about you when you interact with
                    their content, advertising, and services. For more information about third-party advertising at Katib, including interest-based ads, please read our Interest-Based Ads notice. To adjust your advertising preferences, please go to the
                    Advertising Preferences page.</li>
                <li><b>Use of Third-Party Advertising Services: </b>We provide ad companies with information that allows them to serve you with more useful and relevant Katib ads and to measure their effectiveness. We never share your name or other information
                    that directly identifies you when we do this.We may also use an advertising identifier like a cookie, a device identifier, or a code derived from applying irreversible cryptography to other information like an email address. For example,
                    if you have already downloaded one of our apps, we will share your advertising identifier and data about that event so that you will not be served an ad to download the app again. Some ad companies also use this information to serve
                    you relevant ads from other advertisers. You can learn more about how to opt-out of interest-based advertising by going to the Advertising Preferences page.
                </li>
            </ul>
            <br>
            <h4>What Information Can I Access?</h4>
            <p>You can access your information, including your name, address, payment options, profile information, Prime membership, household settings, and purchase history in the "Your Account" section of the website. Click here for a list of examples
                that you can access.</p>
            <br>
            <h4>What Choices Do I Have?</h4>
            <p>If you have any questions as to how we collect and use your personal information, please contact our Customer Service. Some of our Katib Services may also include settings that provide you with options as to how your information is being used.</p>
            <ul class="faqs-ul">
                <li>As described above, you can choose not to provide certain information, but then you might not be able to take advantage of many of the Katib Services.</li>
                <li>You can add or update certain information on pages such as those referenced in What Information Can I Access?. When you update information, we usually keep a copy of the prior version for our records.</li>
                <li>If you do not want to receive email or other communications from us, please adjust your Customer Communication Preferences. If you don't want to receive in-app notifications from us, please adjust your notification settings in the app
                    or device.</li>
                <li>If you do not want to see interest-based ads, please adjust your Advertising Preferences.</li>
                <li>The Help feature on most browsers and devices will tell you how to prevent your browser or device from accepting new cookies or other identifiers, how to have the browser notify you when you receive a new cookie, or how to block cookies
                    altogether. Because cookies and identifiers allow you to take advantage of some essential features of Katib Services, we recommend that you leave them turned on. For instance, if you block or otherwise reject our cookies, you will
                    not be able to add items to your Shopping Cart, proceed to Checkout, or use any Services that require you to Sign in. For more information about cookies and other identifiers, see our Cookies Notice.</li>
                <li>If you want to browse our websites without linking the browsing history to your account, you may do so by logging out of your account here and blocking cookies on your browser.</li>
                <li>You will also be able to opt out of certain other types of data usage by updating your settings on the applicable Katib website (e.g., in "Manage Your Content and Devices"), device, or application.
                    <li>If you shop in our physical stores, you can manage how certain data is used to analyze the performance of our products and services.</li>
            </ul>
            <p>In addition, to the extent required by applicable law, you may have the right to request access to or delete your personal information. If you wish to do any of these things, please contact Customer Service. Depending on your data choices,
                certain services may be limited or unavailable.</p>
            <br>
            <h4>Are Children Allowed to Use Katib Services?</h4>
            <p>If you are under 13, you may use Katib Services only with the involvement of a parent or guardian. We do not knowingly collect personal information from children under the age of 13 without the consent of the child's parent or guardian. For
                more information, please see our Children's Privacy Disclosure.</p>
            <br>
            <h4>Conditions of Use, Notices, and Revisions</h4>
            <p>If you choose to use Katib Services, your use and any dispute over privacy is subject to this Notice and our Conditions of Use , including limitations on damages, resolution of disputes, and application of the law of the Islamic Republic of
                Pakistan. If you have any concern about privacy at Katib, please contact us with a thorough description, and we will try to resolve it. Our business changes constantly, and our Privacy Notice will change also. You should check our websites
                frequently to see recent changes. Unless stated otherwise, our current Privacy Notice applies to all information that we have about you and your account. We stand behind the promises we make, however, and will never materially change our
                policies and practices to make them less protective of customer information collected in the past without the consent of affected customers.</p>
            <br>
            <h4>Examples of Information Collected</h4>
            <br>
<!--             <h6>Information You Give Us When You Use Katib Services:</h6> -->
            <p>You provide information to us when you:</p>
            <ul class="faqs-ul">
                <li>search or shop for products or services in our stores.</li>
                <li>add or remove an item from your cart, or place an order through or use Katib Services.</li>
                <li>offer your products or services on or through Katib Services.</li>
                <li>communicate with us by phone, email, or otherwise.</li>
                <li>complete a questionnaire, a support ticket, or a contest entry form.</li>
                <li>participate in Discussion Boards or other community features.</li>
                <li>provide and rate Reviews.</li>
            </ul>
            <p>As a result of those actions, you might supply us with such information as:</p>
            <ul class="faqs-ul">
                <li>identifying information such as your name, address, and phone numbers.</li>
                <li>people, addresses and phone numbers listed in your order addresses.</li>
                <li>content of reviews and emails to us.</li>
            </ul>

<!--             <h6>Information from Other Sources:</h6> -->
            <p>Examples of information we receive from other sources include:</p>
            <ul class="faqs-ul">
                <li>updated delivery and address information from our carriers or other third parties, which we use to correct our records and deliver your next purchase or communication more easily.</li>
                <li>account information, purchase or redemption information, and page-view information in which we operate co-branded businesses or for which we provide technical, fulfillment, advertising, or other services.</li>
                <li>information about your interactions with products and services offered by our subsidiaries.</li>
            </ul>
<!--             <h6>Information You Can Access:</h6> -->
            <p>Examples of information you can access through Katib Services include:</p>
            <ul class="faqs-ul">
                <li>status of recent orders.</li>
                <li>your complete order history.</li>
                <li>personally identifiable information (including name, email, and address book).</li>
                <li>email notification settings (including Product Availability Alerts, Delivers, Special Occasion Reminders and newsletters).</li>
                <li>recommendations and the products you recently viewed that are the basis for recommendations (including Recommended for You and Improve Your Recommendations)</li>
                <li>shopping lists and gift registries.</li>
            </ul>
        </div>
    </div>
</div>
<br>
<br>
<br>
