<!-- Required meta tags --> 
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<div style="background-color: #F5F5F5;">
  <div class="header-img">
    <img src="https://cdn.shopify.com/s/files/1/0578/5826/1177/files/Paper_Banner.jpg?v=1653367850" /> 
    
  </div>
  <br />

  
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="para1">
          <p>PaperOne™ premium grade office paper presents a spectrum of solutions for demanding printing and copying tasks. Quality is uncompromised - expect superb opacity with versatile multi-directional and dual-sided printability. Sourced and produced for eco-sustainability, each product is PEFC-certified and made using 100% renewable plantation fibres. All engineered to exceed the needs of thriving businesses.</p>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="video-container">
  <iframe autoplay="autoplay" src="https://cdn.shopify.com/s/files/1/0578/5826/1177/files/20180509_Paper_One_50secHD_720p_32e0284b-0ac1-4ce5-b7e0-8c1bbf2cd0ca.mp4?autoplay=1" type="mp4" class="video" style="margin-top: 5px;" frameborder="0" allowfullscreen></iframe>
</div> 	
      </div> 
  	</div>
  </div>


  
</div>
<div class="container-fluid" style="background-color: #FFFFFF;">
  <br>
  <div class="container">
     <div class="row">
      <div class="col-12 col-sm-6">
        <br>
        <h1 style="color: purple;">PaperOne™ Digital</h1>
        <p><b>Designed for digital color - laser &amp; inkjet printing</b></p>
        <p>If you are a discerning user seeking to produce high-impact documents with the latest inkjet or laser printer, PaperOne™ Digital is the premium quality paper you want to present any high-quality work. With added smoothness and unrivalled whiteness, it is a cut above other papers when it comes to impressing a reader with any high-resolution text or graphics. Empowered by ProDigi™ HD Print Technology, it also works perfectly with the latest inkjet or laser printers.</p>
      
        {% comment %}
        <a href="https://katib.pk/search?q=onederful+bonanza" class="btn">View More</a>
        {% endcomment %}
        
        <a href="https://www.paperone.com/office-paper/paperone-digital-product" class="btn">View More</a>
      </div>
      <div class="col-12 col-sm-6">
       {% section 'wahabsec1' %}
        <img src="https://www.paperone.com/images/paperonedigit/digital_hero.png" /> 
      </div> 
     </div> 
  </div>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6">
       	<br>
        <h1 style="color: darkblue;">PaperOne™ ALL PURPOSE</h1>
        <p><b>Perfected for modern home &amp; office equipment</b></p>
        <p>PaperOne™ All Purpose is a premium quality home and office paper for all printing and copying machines. It is a flexible paper capable of switching from one machine to another with great print results. It has super high whiteness and thickness which produces world-class documents with sharp and clear prints.</p>
       {% comment %}
        <a href="https://katib.pk/search?q=onederful+bonanza" class="btn">View More</a>
        {% endcomment %}
        <a href="https://www.paperone.com/office-paper/paperone-all-purpose" class="btn">View More</a>
        
      </div>
      <div class="col-12 col-sm-6">
    	{% section 'wahabsec2' %}
        <img src="https://www.paperone.com/images/product_hero.png" /> 
      </div> 
     </div> 
  </div>
  <br />
  <div class="container">
     <div class="row">
      <div class="col-12 col-sm-6">
        <br>
        <h1 style="color: seagreen;">PaperOne™ Copier</h1>
        <p><b>Engineered for high speed and high volume copyin</b></p>
        <p>Made for laser printers and high-volume copiers, PaperOne™ Copier offers consistent smoothness and performance to ensure that each print is achieved with high quality and free from production problems. Graphics and text will both appear sharp and easy to read, even to the most demanding users. With ProDigi™ HD Print Technology, PaperOne™ Copier paper also helps preserve printer drums with less surface abrasion than regular paper.</p>
       {% comment %}
        <a href="https://katib.pk/search?q=onederful+bonanza" class="btn">View More</a>
        {% endcomment %}
        <a href="https://www.paperone.com/office-paper/paperone-digital-product" class="btn">View More</a>
      </div>
       
      <div class="col-12 col-sm-6">
        <img src="https://www.paperone.com/images/paperonecopier/copier_hero.png" /> 
    	{% section 'wahabsec3' %}
      </div> 
     </div> 
  </div>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6">
      	<br>
        <h1 style="color: orange;">ZAP</h1>
        <p><b>Laser printing paper</b></p>
        <p>ZAP is a high-quality and reliable copy paper for everyday use. PCC pigment technology improves smoothness, thickness and opacity while reducing wood fiber usage.</p>
        {% comment %}
        <a href="https://katib.pk/search?q=onederful+bonanza" class="btn">View More</a>
        {% endcomment %}
        
        <a href="https://www.paperone.com/office-paper/paperone-copier" class="btn">View More</a>
      </div>
      <div class="col-12 col-sm-6">
       {% section 'wahabsec4' %}
      </div> 
     </div> 
  </div>
  <br />
  <div class="container ">
    <div class="row">
      <div class="col-12 col-sm-6">
        <br>
        <h1 style="color: green;">PP Lite</h1>
        <p><b>Engineered for high speed &amp; high volume printing </b></p>
        <p>PP Lite is a high-quality and reliable copy paper designed for day-to-day use. The PCC pigment technology improves smoothness, thickness and opacity while reducing wood-fiber usage.</p>
       <a href="https://katib.pk/search?q=pp+lite" class="btn">View More</a>
      </div>
      <div class="col-12 col-sm-6">
       {% section 'wahabsec6' %}
      </div> 
     </div> 
  </div>
  <br /> 
</div>
<style>
  
  .btn{
    margin-top: 10px;
    border: 2px solid;
    font-weight: bold;
  }

 
  .container {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}


  .para1 p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}


  .video-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; 
  margin-top : 50px;
  border-radius: 20px;

}

  .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  
}
  img{
    margin-top: 30%;
  }
    
  /*  for desktop */
  @media only screen and (min-width: 667px) {
    {% comment %}
    .video {
      width: 100%;
      height: 316px;
      float: left;
      margin: 5% 0% 5% 5px;
      padding: 10px;
      background: #f5f5f5;
    }
    {% endcomment %}
    .header-img img {
      margin-top: -60px;
      width: 100%;
      height: auto;
	}
  }
  /*  for mobile */
  @media only screen and (max-width: 667px) {
    
    
    .video {
      width: 100%;
      height: 208px;
      float: left;
      margin: 5% 0% 5% 5px;
      padding: 10px;
      background: #f5f5f5;
    } 
    .header-img img {
      margin-top: -32px;
      width: 100%;
      height: auto;
  	}
  }
  .para1 {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: justify;
    padding: 10px;
  }
</style>