<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<div style="background-color: #f5f5f5;">
  <header>
    <div class="header-img">
      <img src="https://cdn.shopify.com/s/files/1/0578/5826/1177/files/paperright-banner-min.jpg?v=1653386942" />     
    </div>
  </header>
  <br>
  <div class="container">
    <div class="para1">
      <p style="font-style: italic;">An economical paper that offers dependable performance not only for office use but also for other purposes that provide quality printing results. PaperRight offers consistent smoothness and performance to ensure that each print is achieved with high quality and free from production problems. You will want to have plenty of this workhorse on hand for everyday, general use.</p>
      <br>
    </div>
  </div>
</div>
<div style="background-color: #FFFFFF">
  <div class="container" style="text-align: center;">
    <img src="https://cdn.shopify.com/s/files/1/0578/5826/1177/files/qualification.png?v=1653386394" style="margin: auto;" /> 
  </div>
</div>
<div style="text-align: center; background-color: #FFFFFF">
  <a href="https://katib.pk/products/paper-right-70-gsm-a4-1-box?_pos=2&_sid=2f781a4c0&_ss=r">
  	<img src="https://cdn.shopify.com/s/files/1/0578/5826/1177/files/spec.png?v=1653386394" />   
  </a>
</div>
<style>
  /*  for desktop */
  @media only screen and (min-width: 667px) {
    .video {
      width: 100%;
      height: 316px;
      float: left;
      margin: 5% 0% 5% 5px;
      padding: 10px;
      background: #f5f5f5;
    }
    .header-img img {
      margin-top: -60px;
      width: 100%;
      height: auto;
	}
  }
  /*  for mobile */
  @media only screen and (max-width: 667px) {
    .video {
      width: 100%;
      height: 208px;
      float: left;
      margin: 5% 0% 5% 5px;
      padding: 10px;
      background: #f5f5f5;
    } 
    .header-img img {
      margin-top: -32px;
      width: 100%;
      height: auto;
  	}
  }
  .para1 {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: justify;
    padding: 10px;
  }
</style>