<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<div style="background-color: #f5f5f5;">
  <header>
    <div style="text-align: left;">
      <img class="feature-img" src="https://cdn.shopify.com/s/files/1/0578/5826/1177/files/WhatsApp-Image-2021-07-19-at-10.52.46.jpg?v=1635320448" />
    </div>
  </header>
  <br>
  <div class="container">
    <div class="para1">
      <p style="font-style: italic;">Tick premium grade office Supplies  presents a spectrum of solutions for demanding stationery . Quality is uncompromised - expect superb opacity with versatile multi-directional and dual-sided printability. Sourced and produced for eco-sustainability, each product is PEFC-certified and made using 100% renewable plantation fibres. All engineered to exceed the needs of thriving businesses.</p>
    </div>
  </div>
  <br>
</div>
<div class="container-fluid" style="background-color: #FFFFFF;">
  <br><br>
  <div class="row">
    <div class="col-12 col-sm-6">
      <br>
      <a href="https://katib.pk/products/tick-box-lever-file-cfd-102-1pc-cfd-102" style="text-decoration: none; color: black;">
        <div class="para1">
          <h1>Files &amp; Folders</h1>
          <p>Functional and aesthetically appealing, Tick Stationery includes a wide range of files and folders targeted towards the filling needs of most offices and school based individuals. With sturdy designs and a laser sharp focus on quality, Tick folders are the perfect accessory for any office filling cabinet. Forget about local card based binders and choose our PVC coated box files for long lasting document retention.</p>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-6">
      <a href="https://katib.pk/products/tick-box-lever-file-cfd-102-1pc-cfd-102" style="text-decoration: none; color: black;">
        <img src="https://cdn.shopify.com/s/files/1/0578/5826/1177/files/Box-file.jpg?v=1653375698" /> 
      </a>
    </div> 
  </div>
  <br><hr><br>
  <div class="row">
    <div class="col-12 col-sm-6">
      <a href="https://katib.pk/search?q=tick+writing+tools" style="text-decoration: none; color: black;">
        <img src="https://cdn.shopify.com/s/files/1/0578/5826/1177/files/Wrinting-Tool.jpg?v=1653375681" /> 
      </a>
    </div>
    <div class="col-12 col-sm-6">
      <a href="https://katib.pk/search?q=tick+writing+tools" style="text-decoration: none; color: black;">
      <br>
      <div class="para1">
        <h1>Writing Tools</h1>
        <p>Millions of users enjoy the very best in writing instruments that Tick has to offer. Our colorful, funky pencils are hugely popular in the kids segment while the platinum brands caters to the sophisticated individual seeking personal and professional growth.</p>
      </div>
      </a>
    </div>
  </div>
  <br><hr><br>
  <div class="row">
    <div class="col-12 col-sm-6">
      <a href="https://katib.pk/search?q=staple" style="text-decoration: none; color: black;">
        <div class="para1">
          <h1>Staple Pin</h1>
          <p>Perfect for Office use, Tick Staple Pins are the preferred choice for Large and small stapling jobs. With most standard sizes available, staple pins are not only one of the most successful items we have ever launched, they are also the prelude to introducing more stapling options. Distinctive from other options available in the market, the Stainless steel reinforced staple pins are manufactured and constantly tested to ensure that your documents remain safe and secure once stapled.</p>
        </div>
      </a>
      </div>
    <div class="col-12 col-sm-6">
      <a href="https://katib.pk/search?q=staple" style="text-decoration: none; color: black;">
        <img src="https://cdn.shopify.com/s/files/1/0578/5826/1177/files/Stapler-pin.jpg?v=1653375689" /> 
      </a>
    </div> 
  </div>
  <br><hr><br>
  <div class="row">
    <div class="col-12 col-sm-6">
      <a href="https://katib.pk/search?q=tick+school" style="text-decoration: none; color: black;">
        <img src="https://cdn.shopify.com/s/files/1/0578/5826/1177/files/School.jpg?v=1653375668" /> 
      </a>
    </div>
    <div class="col-12 col-sm-6">
      <a href="https://katib.pk/search?q=tick+school" style="text-decoration: none; color: black;">
        <div class="para1">
          <br>
          <h1>School Basics</h1>
          <p>Exciting and innovative, Tick Stationery has a School item niche that is geared towards learning in a Fun and playful manner. Seldom has school stationery been created with both the functional and emotional aspects for its usage so clearly front and center in the development process.</p>
        </div>
      </a>
    </div> 
  </div>
  <br><hr><br>
  <div class="row">
    <div class="col-12 col-sm-6">
      <a href="https://katib.pk/search?q=tick+office" style="text-decoration: none; color: black;">
        <div class="para1">
          <br>
          <h1>Office Essentials</h1>
          <p>From highlighters and printing papers to specialized numbering machines, Tick Stationery has a plethora of options for the average office consumer. The range of products available are all launched to ensure that Tick remains at the TOM (Top of Mind) when it comes to stationery options.</p>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-6">
      <a href="https://katib.pk/search?q=tick+office" style="text-decoration: none; color: black;">
        <img src="https://cdn.shopify.com/s/files/1/0578/5826/1177/files/Office-Essentials-768x434.jpg?v=1653375675" /> 
      </a>
    </div>
  </div>
  <br>
</div>

<style>
  @media only screen and (min-width: 667px) {
    .feature-img {
      margin-top: -60px;
      width: 100%;
      height: auto;
	}
  }
  /*  for mobile */
  @media only screen and (max-width: 667px) {
    .feature-img {
      margin-top: -32px;
      width: 100%;
      height: auto;
  	}
  }
  .para1 {
    width: 90%;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: justify;
    padding: 10px;
    margin: auto;
  }
</style>