<!-- Required meta tags --> 
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<div style="background-color: #F5F5F5;">
  <div class="header-img">
    <img src="https://cdn.shopify.com/s/files/1/0578/5826/1177/files/FB_Post_Banner_Warq_01-Dec-21.jpg?v=1653391840" /> 
  </div>
  <br />
  <div class="container">
    <div class="para1">
      <p>Warq notebooks and writing pads are designed with the express desire to channelize your voice and furnished with a premium writing grade paper that provides an ethereal writing experience. Vibrant, trendy covers with sturdy binding and impeccable printed paper makes Warq a Brand of choice for writing lovers everywhere.</p>
    </div>
  </div>
    <br>
</div>
<div style="background-color: #FFFFFF;">
  <div class="container">
    <br>
    <h1>Warq Spiral Notebook</h1>
    <p>Warq Spiral notebooks are highly portable office tools, offering users flexibility when taking notes, logging mileage and completing homework assignments. Warq spiral binding allows for smooth page-turning action, making them a popular choice for students, teachers and project managers. These spiral notebooks are made with adorable covers that add fun to your school work and are bound to become your instant favorite. Now get your daily work or studies done in style and showcase your unique taste and style with these beautifully printed, high-quality spiral notebooks.</p>
    {% section 'muzammil-warq-spirals' %}
  </div>
  <br>
  <div class="container ">
    <div class="row">
      <div class="col-12 col-sm-6">
        <br>
        <h1>Warq Register Notebook</h1>
        <p>Warq register are widely used for completing homework assignments, drawing and scrapbooking. Registers for writing usually have some kind of printing on the writing material, if only lines to align writing or facilitate certain kinds of drawing. Warq register have page numbers preprinted to support priority claims. They may be considered as grey. These register are made with adorable covers that add fun to your school work and are bound to become your instant favorite. Now get your daily work or studies done in style and showcase your unique taste and style with these beautifully printed, high-quality register.</p>
      </div>
      <div class="col-12 col-sm-6">
       {% section 'muzammil-warq-registers' %}
      </div> 
     </div> 
  </div>
  <br />
  <div class="container ">
    <div class="row">
      <div class="col-12 col-sm-6">
        <br>
        <h1>Khatat</h1>
        <p>Warq khatat are written record of incidents, experiences, and ideas. Also use as a personal journal, notebook, diary, and log. Writers often keep journals to record observations and explore ideas that may eventually be developed into more formal essays, articles, and stories. Warq Khatat is best for records all the financial transactions of a business in one place on a time and date basis. </p>
      </div>
      <div class="col-12 col-sm-6">
       {% section 'muzammil-warq-khatat' %}
      </div> 
     </div> 
  </div>
  <br />
  <br>
</div>

<style>
  /*  for desktop */
  @media only screen and (min-width: 667px) {
    .video {
      width: 100%;
      height: 316px;
      float: left;
      margin: 5% 0% 5% 5px;
      padding: 10px;
      background: #f5f5f5;
    }
    .header-img img {
      margin-top: -60px;
      width: 100%;
      height: auto;
	}
  }
  /*  for mobile */
  @media only screen and (max-width: 667px) {
    .video {
      width: 100%;
      height: 208px;
      float: left;
      margin: 5% 0% 5% 5px;
      padding: 10px;
      background: #f5f5f5;
    } 
    .header-img img {
      margin-top: -32px;
      width: 100%;
      height: auto;
  	}
  }
  .para1 {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: justify;
    padding: 10px;
  }
</style>